In [2]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [ ]:
df = pd.read_csv('Pricing.csv')

In [ ]:
df.head()

,Make,Model,Year,Rarity,Condition_Category,Selling_Price,Estimated_Daily_Rate,Kilometers_Driven
0,Ford,Model T,1910,Common,Good,675,750,40929
1,Mercer,Raceabout,1911,Rare,Good,801,890,54493
2,Cadillac,Model 30,1912,Uncommon,Good,765,850,34000
3,Stutz,Bearcat,1913,Rare,Good,684,760,139000
4,Dodge,Model 30,1914,Common,Good,666,740,29000

In [ ]:
df.shape

(149, 8)

In [ ]:
#preprocessing

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Make                  149 non-null    object
 1   Model                 149 non-null    object
 2   Year                  149 non-null    int64
 3   Rarity                149 non-null    object
 4   Condition_Category    149 non-null    object
 5   Selling_Price         149 non-null    int64
 6   Estimated_Daily_Rate  149 non-null    int64
 7   Kilometers_Driven     149 non-null    int64
dtypes: int64(4), object(4)
memory usage: 9.4+ KB

In [ ]:
df.duplicated().sum()

0

In [ ]:
for col in df.columns:
    print('Unique values of ' + col)
    print(df[col].unique())
    print("======================")

Unique values of Make
['Ford' 'Mercer' 'Cadillac' 'Stutz' 'Dodge' 'Packard' 'Hudson' 'Chevrolet'
 'Pierce-Arrow' 'Rolls' 'Bentley' 'Lincoln' 'Bugatti' 'Chrysler'
 'Alfa Romeo' 'Mercedes-Benz' 'Auburn' 'Cord' 'Duesenberg' 'BMW' 'Willys'
 'Tucker' 'Ferrari' 'Jaguar' 'Mercury' 'Oldsmobile' 'Mercedes' 'Porsche'
 'Austin' 'Alfa' 'Aston' 'Buick' 'Pontiac' 'Honda' 'Fiat' 'Volkswagen'
 'Plymouth' 'Citroen' 'Lamborghini' 'Lancia' 'De' 'Renault' 'Datsun'
 'Triumph' 'Maserati' 'AMC' 'Lada' 'Lotus' 'DeLorean' 'Jeep' 'Nissan'
 'Land' 'Peugeot' 'McLaren' 'Toyota' 'Mazda' 'Mini' 'Subaru' 'Saab' 'Audi'
 'Lexus' 'Volvo' 'Dacia']
======================
Unique values of Model
['Model T' 'Raceabout' 'Model 30' 'Bearcat' 'Twin Six' 'Super Six'
 'Series D' 'Type 57' 'Model 31' 'Royce Silver Ghost' '3 Litre' 'L-Series'
 'Type 23' 'Model B-70' 'RL' 'Model K' 'Model A' 'Aug-88' 'L-29' 'V-16'
 'Model J' 'V-8' 'Silver Arrow' 'Twelve' '851 Speedster' 'Type 57SC' '812'
 '8C' '328' 'Series 62' 'Continental' 'MB Jeep' 'Torpedo' '125 S' 'XK120'
 'Eight' 'Rocket 88' 'Hornet' '300 SL' 'Corvette' 'Thunderbird'
 'Benz 300 SL Gullwing' '356 Speedster' '507' 'Bel Air' 'Eldorado' 'Mini'
 'Impala' 'E-Type' '250 GTO' 'Romeo Giulia' 'S3' 'Galaxie' 'Martin DB5'
 'Skylark' 'Mustang' 'Catalina' 'Royce Silver Shadow' 'GTO' 'S800' '500'
 'Dart' 'Coronet' 'Type 2 (Bus)' 'Camaro' '300SEL 6.3' '442' 'Road Runner'
 'Charger' 'DS' 'Barracuda' 'Chevelle' 'Romeo Montreal' 'SM' 'Martin DBS'
 'Miura' 'Fulvia' '2002' 'Tomaso Pantera' 'Alpine A310' 'Beetle' '240Z'
 '510' '914' 'TR6' 'Khamsin' 'Capri' 'Pacer' '450SEL 6.9' 'Merak'
 'Martin Lagonda' 'Spitfire' 'Niva' '308 GTS' 'T-series' 'El Camino' 'M1'
 'XJ6' '308 GTB' '5 Turbo' 'Esprit' 'Corvette C3' 'Mondial 8' 'DMC-12'
 '512BB' 'Firebird' '944' 'CJ-7' 'Martin V8 Vantage' 'Cutlass'
 'Testarossa' '300ZX' 'Rover Defender' '928' 'XJS' '560SEL' '205 GTI'
 '911' 'F1' 'Romeo Spider' 'Delta Integrale' 'Supra' 'Skyline GTR' 'Civic'
 'MX-5' 'Cooper' 'Impreza WRX' 'M3' 'Veyron' '09-Mar' 'R8' 'LS'
 'Benz SLS AMG' 'Golf' 'Continental GT' 'Royce Phantom' 'Quattroporte'
 'i8' 'A4' 'Mulsanne' 'Corolla' 'S60' 'Sandero']
======================
Unique values of Year
[1910 1911 1912 1913 1914 1915 1916 1917 1918 1919 1920 1921 1922 1923
 1924 1925 1926 1927 1928 1929 1930 1931 1932 1933 1934 1935 1936 1937
 1938 1939 1940 1941 1942 1946 1947 1948 1949 1950 1951 1952 1953 1954
 1955 1956 1957 1958 1959 1960 1961 1962 1963 1964 1965 1966 1967 1968
 1969 1970 1971 1972 1973 1974 1975 1976 1977 1978 1979 1980 1981 1982
 1983 1984 1985 1986 1988 1990 1992 1998 1999 2000 2002 2003 2004 2005
 2007 2008 2010 2012 2014 2015 2018 2019 2020]
======================
Unique values of Rarity
['Common' 'Rare' 'Uncommon' 'Very Rare' 'Very Common']
======================
Unique values of Condition_Category
['Good' 'Excellent' 'Very Good' 'Poor']
======================
Unique values of Selling_Price
[675 801 765 684 666 729 774 648 711 720 693 810 783 639 702 792 747 738
 630 657 756]
======================
Unique values of Estimated_Daily_Rate
[750 890 850 760 740 810 860 720 790 800 770 900 870 710 780 880 830 820
 700 730 840]
======================
Unique values of Kilometers_Driven
[ 40929  54493  34000 139000  29000  85609  59000  65000  66000  54684
  78000  21000  90000  87628  45000  30788  39524 140000  15409  36502
 200000  70000  36701  72000  40000  47000  93500  52000  55429 133000
  68000  71000 121000 107000  51000  13500  13000  81000  66889  32000
  87001  55000   4000  27778   5000  59299  75000   3413  62000 105001
  89000  50000  70687 104350 150000  35223  48000  60000   7000  47572
  72727   4708  44198  35000  63831  17540  14000  75422  67000  79999
   5044  31601  16000  31700  76969  37000  23000  59098 142299  75731
  69627  49000  25700  80800 110896  62261  27610  89219   6700  51599
  37489  98000  25183  52100  95000  66346  69150  31000  63058  22000
  73026  21762  29738  16053  61665  34820  12000  32287 121134  74485
  63000  53190  26900  40587  27000  29108  18000  10500  61000  24001
  76000  56000  30000  44263  97899 157301 135000 106000 121590  64692
  41000]
======================

In [ ]:
df['Make'].unique()

array(['Ford', 'Mercer', 'Cadillac', 'Stutz', 'Dodge', 'Packard',
       'Hudson', 'Chevrolet', 'Pierce-Arrow', 'Rolls', 'Bentley',
       'Lincoln', 'Bugatti', 'Chrysler', 'Alfa Romeo', 'Mercedes-Benz',
       'Auburn', 'Cord', 'Duesenberg', 'BMW', 'Willys', 'Tucker',
       'Ferrari', 'Jaguar', 'Mercury', 'Oldsmobile', 'Mercedes',
       'Porsche', 'Austin', 'Alfa', 'Aston', 'Buick', 'Pontiac', 'Honda',
       'Fiat', 'Volkswagen', 'Plymouth', 'Citroen', 'Lamborghini',
       'Lancia', 'De', 'Renault', 'Datsun', 'Triumph', 'Maserati', 'AMC',
       'Lada', 'Lotus', 'DeLorean', 'Jeep', 'Nissan', 'Land', 'Peugeot',
       'McLaren', 'Toyota', 'Mazda', 'Mini', 'Subaru', 'Saab', 'Audi',
       'Lexus', 'Volvo', 'Dacia'], dtype=object)

In [ ]:
df['Model'].unique()

array(['Model T', 'Raceabout', 'Model 30', 'Bearcat', 'Twin Six',
       'Super Six', 'Series D', 'Type 57', 'Model 31',
       'Royce Silver Ghost', '3 Litre', 'L-Series', 'Type 23',
       'Model B-70', 'RL', 'Model K', 'Model A', 'Aug-88', 'L-29', 'V-16',
       'Model J', 'V-8', 'Silver Arrow', 'Twelve', '851 Speedster',
       'Type 57SC', '812', '8C', '328', 'Series 62', 'Continental',
       'MB Jeep', 'Torpedo', '125 S', 'XK120', 'Eight', 'Rocket 88',
       'Hornet', '300 SL', 'Corvette', 'Thunderbird',
       'Benz 300 SL Gullwing', '356 Speedster', '507', 'Bel Air',
       'Eldorado', 'Mini', 'Impala', 'E-Type', '250 GTO', 'Romeo Giulia',
       'S3', 'Galaxie', 'Martin DB5', 'Skylark', 'Mustang', 'Catalina',
       'Royce Silver Shadow', 'GTO', 'S800', '500', 'Dart', 'Coronet',
       'Type 2 (Bus)', 'Camaro', '300SEL 6.3', '442', 'Road Runner',
       'Charger', 'DS', 'Barracuda', 'Chevelle', 'Romeo Montreal', 'SM',
       'Martin DBS', 'Miura', 'Fulvia', '2002', 'Tomaso Pantera',
       'Alpine A310', 'Beetle', '240Z', '510', '914', 'TR6', 'Khamsin',
       'Capri', 'Pacer', '450SEL 6.9', 'Merak', 'Martin Lagonda',
       'Spitfire', 'Niva', '308 GTS', 'T-series', 'El Camino', 'M1',
       'XJ6', '308 GTB', '5 Turbo', 'Esprit', 'Corvette C3', 'Mondial 8',
       'DMC-12', '512BB', 'Firebird', '944', 'CJ-7', 'Martin V8 Vantage',
       'Cutlass', 'Testarossa', '300ZX', 'Rover Defender', '928', 'XJS',
       '560SEL', '205 GTI', '911', 'F1', 'Romeo Spider',
       'Delta Integrale', 'Supra', 'Skyline GTR', 'Civic', 'MX-5',
       'Cooper', 'Impreza WRX', 'M3', 'Veyron', '09-Mar', 'R8', 'LS',
       'Benz SLS AMG', 'Golf', 'Continental GT', 'Royce Phantom',
       'Quattroporte', 'i8', 'A4', 'Mulsanne', 'Corolla', 'S60',
       'Sandero'], dtype=object)

In [ ]:
df['Make'].replace(['Ford', 'Mercer', 'Cadillac', 'Stutz', 'Dodge', 'Packard',
       'Hudson', 'Chevrolet', 'Pierce-Arrow', 'Rolls', 'Bentley',
       'Lincoln', 'Bugatti', 'Chrysler', 'Alfa Romeo', 'Mercedes-Benz',
       'Auburn', 'Cord', 'Duesenberg', 'BMW', 'Willys', 'Tucker',
       'Ferrari', 'Jaguar', 'Mercury', 'Oldsmobile', 'Mercedes',
       'Porsche', 'Austin', 'Alfa', 'Aston', 'Buick', 'Pontiac', 'Honda',
       'Fiat', 'Volkswagen', 'Plymouth', 'Citroen', 'Lamborghini',
       'Lancia', 'De', 'Renault', 'Datsun', 'Triumph', 'Maserati', 'AMC',
       'Lada', 'Lotus', 'DeLorean', 'Jeep', 'Nissan', 'Land', 'Peugeot',
       'McLaren', 'Toyota', 'Mazda', 'Mini', 'Subaru', 'Saab', 'Audi',
       'Lexus', 'Volvo', 'Dacia'], [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64], inplace=True)

In [ ]:
df['Rarity'].unique()

array(['Common', 'Rare', 'Uncommon', 'Very Rare', 'Very Common'],
      dtype=object)

In [ ]:
df['Rarity'].replace(['Common', 'Rare', 'Uncommon', 'Very Rare', 'Very Common'], [1,2,3,4,5], inplace=True)

In [ ]:
df['Condition_Category'].unique()

array(['Good', 'Excellent', 'Very Good', 'Poor'], dtype=object)

In [ ]:
df['Condition_Category'].replace(['Good', 'Excellent', 'Very Good', 'Poor'], [1,2,3,4], inplace=True)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Make                  149 non-null    int64
 1   Model                 149 non-null    object
 2   Year                  149 non-null    int64
 3   Rarity                149 non-null    int64
 4   Condition_Category    149 non-null    int64
 5   Selling_Price         149 non-null    int64
 6   Estimated_Daily_Rate  149 non-null    int64
 7   Kilometers_Driven     149 non-null    int64
dtypes: int64(7), object(1)
memory usage: 9.4+ KB

In [ ]:
df

,index,Make,Year,Rarity,Condition_Category,Selling_Price,Estimated_Daily_Rate,Kilometers_Driven
0,0,1,1910,1,1,675,750,40929
1,1,2,1911,2,1,801,890,54493
2,2,3,1912,3,1,765,850,34000
3,3,4,1913,2,1,684,760,139000
4,4,5,1914,1,1,666,740,29000
...,...,...,...,...,...,...,...,...
144,144,61,2015,1,1,792,880,35000
145,145,11,2015,2,2,810,900,106000
146,146,56,2018,5,1,657,730,121590
147,147,63,2019,1,1,684,760,64692
148,148,64,2020,5,1,720,800,41000

In [ ]:
df.drop(columns=['Model'], inplace=True)

KeyError: "['Model'] not found in axis"

In [ ]:
df.drop(columns=['index'], inplace=True)

KeyError: "['index'] not found in axis"

In [ ]:
df

,Make,Year,Rarity,Condition_Category,Selling_Price,Estimated_Daily_Rate,Kilometers_Driven
0,1,1910,1,1,675,750,40929
1,2,1911,2,1,801,890,54493
2,3,1912,3,1,765,850,34000
3,4,1913,2,1,684,760,139000
4,5,1914,1,1,666,740,29000
...,...,...,...,...,...,...,...
144,61,2015,1,1,792,880,35000
145,11,2015,2,2,810,900,106000
146,56,2018,5,1,657,730,121590
147,63,2019,1,1,684,760,64692
148,64,2020,5,1,720,800,41000

In [ ]:
input_data = df.drop(columns=['Estimated_Daily_Rate'])
output_data =df['Estimated_Daily_Rate']

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(input_data, output_data, test_size=0.2)

In [ ]:
model = LinearRegression()
model.fit(x_train, y_train)

LinearRegression()

In [ ]:
predict = model.predict(x_test)
predict

array([750., 900., 760., 740., 890., 800., 790., 800., 740., 850., 730.,
       780., 810., 790., 730., 760., 870., 730., 790., 800., 840., 820.,
       900., 870., 700., 850., 750., 860., 790., 850.])

In [ ]:
x_train.head(1)

    Make  Year  Rarity  Condition_Category  Selling_Price  Kilometers_Driven
66     5  1967       3                   1            765              72727

In [ ]:
input_data_model = pd.DataFrame(
    [[5,2000,3,1,700,72727]],
    columns=['Make','Year','Rarity','Condition_Category','Selling_Price','Kilometers_Driven'])

In [ ]:
input_data_model

   Make  Year  Rarity  Condition_Category  Selling_Price  Kilometers_Driven
0     5  2000       3                   1            700              72727

In [ ]:
model.predict(input_data_model)

array([777.77777778])

In [ ]:
import pickle as pk

In [ ]:
pk.dump(model,open('model.pkl','wb'))